.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  margin: 0 auto;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 85%;
  background-color: var(--light-background);
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}

#button-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  border: none;
  background-color: #00c4fa;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  border-radius: 50%;

  img {
    width: 25px;
    height: auto;
  }
}

#button-up:hover {
  transform: scale(1.03);
}

.filter-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 15px;
}

.custom-select {
  text-align: center;
}

.primary-button {
    font-size: 16px;
    padding: 8px;
  }

.custom-select select {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  color: #000;
}

.custom-select select:hover {
  cursor: pointer;
  border: 1px solid #00c4fa;
}

.custom-select select option {
  background-color: #00c4fa;
  text-align: center;
}

@media (min-width: 650px) and (max-width: 1023px) {
  .filter-controls {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 60px;

  }
  .posts-container {
    width: 70%;
  }
  .custom-select select {
    font-size: 18px;
    padding: 20px;
  }
  .filter-controls {
    gap: 12px;
  };
  .primary-button {
    padding: 20px;

  }

}
@media (min-width: 1024px) {
  .search-section {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
  }
  .posts-container {
    width: 67%;
  }
  .custom-select select {
    font-size: 18px;
    padding: 15px;
  }

  .filter-controls {
    gap: 12px;
    flex-wrap: nowrap;
    justify-content: space-around
  };

  .primary-button {
    padding: 20px;

  }
}
