.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 30px ;
}


.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 95%;
  background-color: var(--light-background);
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}
#btn-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  border: none;
  background-color: #00C4FA;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  border-radius: 50%;


  img {
    width: 25px;
    height: auto;
  }

}

#btn-up:hover {
  transform: scale(1.03);
}

.filter-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;

  .primary-button {
    width: 140px;
    height: 62px;
  }

}

.custom-select {
  text-align: center;
}

.custom-select select {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  font-size: 15px;
  padding: 20px;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  color: #000;

}

.custom-select select:hover {
  cursor: pointer;
  border: 1px solid #00c4fa;
}

.custom-select select option {
  background-color: #00c4fa ;
}


@media (min-width: 650px) and (max-width: 1023px) {

}
@media (min-width: 1024px) {
  .search-section {
    flex-direction: row;
    width: 93vw;
  }
  .filter-controls {
    padding-bottom: 0px;
  }


}







