.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  width: 90vw;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: white;
  line-height: 1.86;
  margin-top: 20px;
  text-align: center;
}

.heading-profile {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 100px;
    border: 1px solid rgba(205, 205, 205, 0.471);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    height: 95px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small {
    font-size: 10px;
    font-weight: 300;
  }
  span {
    font-size: 8px;
    border: 1px solid rgba(26, 26, 26, 0.429);
    width: 100px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5;

  p {
    font-size: 14px;
  }

  span {
    font-size: 14px;
    color: #00C6FC;
    padding-left: 5px;

  }
}



/* tablet */
@media (min-width: 650px) and (max-width: 1023px) {
  .user-info {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    width: 70vw;
  }
   .profile-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 0;
  }

  .heading-profile {
    width: 50vw;
  }
}



/* desktop */
@media (min-width: 1024px){
  .user-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .profile-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}