.post-card{
    border: 2px #5bb7d3 solid;
    border-left: 15px #5bb7d3 solid;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;  
    min-width: 250px;

    
    .post-card-header{
        display: flex;
        justify-content: space-between;
    }
    h2{
        font-size: 20px;
        padding: 8px 0;
    }

    span {
        font-weight: 200;
    }
}


.da{
    border: 2px #FECE64 solid;
    border-left: 15px #FECE64 solid;
}
.we{
    border: 2px #4D84E6 solid;
    border-left: 15px #4D84E6 solid;
}
.ux{
    border: 2px #FF7B63 solid;
    border-left: 15px #FF7B63 solid;
}

@media (min-width: 650px) and (max-width: 1023px) {
    .post-card {
        width: 100%;
        min-width: 400px
    }
}

@media (min-width: 1024px) {
    .post-card {

        min-width: 800px;
        
    }
}
