.input-container {
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
  width: 87vw;
}

.input-search {
  border: 2px solid transparent;
  width: 100vw;
  height: 60px;
  padding-left: 15px;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;

}
.input-search:focus, .input-search:hover {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgba(174, 204, 233, 0.2);
  background-color: white;
}

@media (min-width: 650px) and (max-width: 1023px) {
  .input-search {
    width: 80%;

  }
}
@media (min-width: 1024px) {
  .input-search {
    width: 90%;
    height: 55px;
  }


}