.navbar-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100vw;
  height: 55px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 20px 12px;
  align-items: center;
}

.links {
  list-style: none;
  gap: 30px;
  /* display: none; */
  /* position:absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0; */
}

.links li:hover {
  transform: scale(1.02);
  font-weight: 500;
  /* display: block; */
}





