@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*
HEADINGS: font-family: "Lato", sans-serif;
TEXTS: font-family: "Inter", sans-serif;*/
:root {
    /* WE FOLLOW THESE STYLES: https://www.realtimecolors.com/?colors=0a0b0b-f9fbfb-00c4fa-a6cdd8-79bfd2&fonts=Inter-Inter */
    /* GENERAL TEXT */
    --text: #0A0B0B;
    --background: #F9FBFB;
    /* PRIMARY FOR H1, PRIMARY BUTTON */
    --primary: #00C4FA;
    /* SECONDARY FOR FOOTER,  SECONDARY BUTTON */
    --secondary: #A6CDD8;
    /* LIGHT BACKGROUND: */
    --light-background: #E8F2F4;
    /* ACCENT FOR ICONS */
    --accent: #79BFD2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    color: black;
}
p,
a,
button,
span,
small,
label,
input,
fieldset,
textarea {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 18px;
}
a {
    text-decoration: none;
}
/* class for blue buttons */
#home-button {
    width: 180px;
    height: 70px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
}
/* general class for pair of buttons */
.primary-button, .secondary-button {
    font-size: 15px;
    min-width: 150px;
    min-height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--text);
    padding: 10px 15px;
    border: none;
}
.secondary-button {
    background-color: var(--secondary);
    color: var(--text);
}
.primary-button:hover{
    background: linear-gradient(to bottom, #63DDFF 5%, var(--primary) 100%);
    box-shadow: 0 20px 80px -10px var(--primary);
}
.secondary-button:hover{
    background: linear-gradient(to bottom, #C6EAF4 5%, var(--secondary) 100%);
}
.primary-button:hover, .secondary-button:hover {
    cursor: pointer;
    transform: translate(0, -3px);
    transition: transform ease 0.2s;
    color: #FFFFFF;
}