.homepage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 40px 20px;
  gap: 50px;
  background-color: #fff;
  #gif {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  h1 {
    font-size: 30px;
    color: var(--primary);
  }

  .students-made {
    color: var(--primary);
    font-size: 20px;
  }

  #about-btn {
    width: 180px;
    height: 50px;
    background: linear-gradient(to bottom, #3b64b2 5%, #4d84e6 100%);
    background-color: #4d84e6;
    border-radius: 10px;
    border: 1px solid #4d84e6;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
    margin: 0 auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    display: inline-block;
    text-align: center;
  }

  #about-btn:hover {
    background: linear-gradient(to bottom, #4d84e6 5%, #3b64b2 100%);
    background-color: #4d84e6;
  }
}

@media (min-width > 650px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
  .homepage-container {
    display: flex;
    flex-direction: row-reverse;
    #gif {
      width: 50%;
    }
  }
  .description-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    .description-title {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 20px;
    }
    #about-btn {
      width: 200px;
      height: 60px;
      background-color: transparent;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}
