.post-form-section {
    background-color: var(--light-background);
    width: 90%;
    max-width: 600px;
    min-height: 600px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    label,
    fieldset {
        padding: 5px;
        border-radius: 10px;
        border-bottom-left-radius: none;
        color: var(--text);
        padding-bottom: 5px;
    }

    .form-logo {
        width: 150px;
    }

    .post-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        gap: 10px;

    }

    .form-div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 5px;

        input,
        textarea {
            border: none;
            border-radius: 10px;
            padding: 10px;
            min-height: 20px;
            color: var(--subtitles);
        }
        textarea{
            min-height: 150px;
        }
    }

    .field-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;

        div {
            display: flex;
            align-items: center;
        }
    }

    .submit-buttons{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

}